
script.
  var _vds = _vds || [];
  window._vds = _vds;
  (function(){
    _vds.push(['setAccountId', 'b350d488f8e3e5f1']);
    (function() {
      var vds = document.createElement('script');
      vds.type='text/javascript';
      vds.async = true;
      vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(vds, s);
    })();
  })();
// Leave the below lines alone!
script.
  (function(global) {
    global.main = global.main || {};
    global.main.isLoggedIn = !{JSON.stringify(!!user)};
    global.main.userId = !{JSON.stringify(user && user.id || false)};
  }(window))
script(src=rev('/js', 'vendor-main.js'))
script(src=rev('/js', 'main.js'))
